h2 {
  text-align: center;
  font-size: calc(10px + 2vw)!important;
}

.wholeCard {
  width: 90vw;
  margin: auto;
  margin-top: 2vw;
}

.todaysPatientsWrapper {
  width: 90%;
  margin: auto;
  margin-top: 2vh;
}

.someInfo {
  width: 80vw;
  margin: auto;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}