h2 {
  text-align: center;
  font-size: calc(10px + 2vw)!important;
}

.cardParts {
  width: 90vw;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.todaysPatientsWrapper {
  width: 90%;
  margin: auto;
  margin-top: 2vh;
}

.someInfo {
  width: 80vw;
  margin: auto;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.custom-tooltip {
  opacity: 0.85;
  background-color: white;
  border: solid;
  border-color: #ccc;
}

.label {
  text-align: center;
}